extends layout

block content
  h1.text-info.text-center Приложение Чат
  .row.justify-content-between
    .row
        .col-md-6
            p 123123
    .row
        .col-md-6
            p 2124124124124
    .row
        .col-md-12
            p 123123123234
            