extends layout

block content
  h1.text-info.text-center Студенческий Видео Чат
  .btn-toolbar.justify-content-center
    .btn-group.mr-3
      a.btn.btn-lg.btn-info(href="/login",role="button") Войти
    .btn-group.mr-2
      a.btn.btn-lg.btn-info(href="/register",role="button") Зарегистрироваться