doctype html
html(ng-app="VideoChat")
  head
    title= title
    link(rel="stylesheet", href="/libs/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light.bg-ligh
      a.nabar-brand(href="/")
        img(src="/images/logo.svg", width="100" height="70", alt="logo", srcset="")
    block content

  script(src="/libs/angular/angular.js")
  script(src="/libs/angular/angular-route.js")
  script(src="/libs/angular/angular-sanitize.js")
  script(src="/libs/jquery/jquery.js")
  script(src="/libs/popperjs/popper.js")
  script(src="/libs/bootstrap/js/bootstrap.min.js")
  script(src="/javascripts/app.js")